table th {
  text-align: center;
  background-color: #133e69; 
  color:white;
}

td {
  text-align: center;
  background-color: #f0f0f0; 
}

@media (width:300px) {
  table th {
    text-align: center;
    background-color: #133e69; 
    color:white;
  }
  
  td {
    text-align: center;
    background-color: #f0f0f0; 
  }
}

  .custom-primary {
    color: #323a65;
  }
  
  .custom-accent {
    color: #254a26;
  }
  
  .custom-warn {
    color: #7b1b14;
  }