<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Automation Travel Agency</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-right">

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"> <button class="btn btn-light me-2" type="button" (click)="home()">Home</button></li>
              <li class="nav-item"><button class="btn btn-light me-2" type="button" (click)="openAbout()">About</button>
              </li>
              <li class="nav-item">
                <button class="btn btn-light me-2" type="button" (click)="openSignUp()">SignUp</button>
               
              </li>
              <li class="nav-item">
                <button class="btn btn-info btn-md" type="button" (click)="openLogin()">Login</button>
                
              </li>
            </ul>
          </div>

        </ul>
      </div>
    </div>
  </nav>

