.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    align-items: center !important;
    /* width: 70% !important;
    margin:20% 10% ; */
  }