<app-navbar></app-navbar>
<div class="container">
    <div class="text-center">
        <h1 class="display-4 primary-text">Welcome to Automation Travel Agency</h1>
        <p class="lead secondary-text">Your one-stop solution for vehicle booking across multiple cities. Experience
            seamless and efficient travel management with our advanced booking system.</p>
        <hr class="my-4">
        <p class="highlight-text">Join us today and enjoy hassle-free travel bookings!</p>
    </div>
</div>

