<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="book-vehicle-container p-4 bg-light rounded shadow-sm">
                <h1 style="text-align: center;">Book Vehicle</h1>
                <form [formGroup]="bookVehicleForm" (ngSubmit)="bookVehicleSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="booking_date">Booking Date:</label>
                                <input id="booking_date" formControlName="booking_date" type="date"
                                    class="form-control">
                                <div *ngIf="bookVehicleForm.get('booking_date')?.invalid && bookVehicleForm.get('booking_date')?.touched"
                                    class="text-danger" aria-hidden="true">Booking Date is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="journey_date">Journey Date:</label>
                                <input id="journey_date" formControlName="journey_date" type="date"
                                    class="form-control" [min]="todayDate" >
                                <div *ngIf="bookVehicleForm.get('journey_date')?.invalid && bookVehicleForm.get('journey_date')?.touched"
                                    class="text-danger">Journey Date is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="route_source">Source:</label>
                            
                                    <select id="route_source" class="form-control" formControlName="route_source">
                                        <option value="" disabled>Select Source</option>
                                        <option *ngFor="let route of routeData" [value]="route.id">
                                            {{ route.route_source }}
                                        </option>
                                    </select>
                                
                                <div *ngIf="bookVehicleForm.get('route_source')?.invalid && bookVehicleForm.get('route_source')?.touched"
                                    class="text-danger">Source is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="route_destination">Destination:</label>
                                <select id="route_destination" class="form-control" formControlName="route_destination">
                                    <option value="" disabled>Select Destination</option>
                                    <option *ngFor="let route of routeData" [value]="route.id">
                                        {{ route.route_destination }}
                                    </option>
                                </select>
                                <div *ngIf="bookVehicleForm.get('route_destination')?.invalid && bookVehicleForm.get('route_destination')?.touched"
                                    class="text-danger">Destination is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="boarding_point">Boarding Point:</label>
                                <select id="boarding_point" class="form-control" formControlName="boarding_point">
                                    <option value="" disabled>Select Boarding point</option>
                                    <option *ngFor="let route of routeData" [value]="route.id">
                                        {{ route.boarding_point }}
                                    </option>
                                </select>
                                <div *ngIf="bookVehicleForm.get('boarding_point')?.invalid && bookVehicleForm.get('boarding_point')?.touched"
                                    class="text-danger">Boarding Point is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="drop_point">Drop Point:</label>
                                <select id="drop_point" class="form-control" formControlName="drop_point">
                                    <option value="" disabled>Select Drop point</option>
                                    <option *ngFor="let route of routeData" [value]="route.id">
                                        {{ route.drop_point }}
                                    </option>
                                </select>
                                <div *ngIf="bookVehicleForm.get('drop_point')?.invalid && bookVehicleForm.get('drop_point')?.touched"
                                    class="text-danger">Drop Point is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="no_of_passangers">Number of passangers:</label>
                                <input id="no_of_passangers" formControlName="no_of_passangers" type="number" class="form-control" maxlength="2" placeholder="Enter passangers">
                                <div *ngIf="bookVehicleForm.get('no_of_passangers')?.invalid && bookVehicleForm.get('no_of_passangers')?.touched"
                                    class="text-danger">Number of passangers is required</div>
                            </div>
                        </div>
                       
                    </div>
                    <div>
                        <button mat-flat-button color="warn" type="submit" [disabled]="bookVehicleForm.invalid">Book Vehicle</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>